* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

body {
    background-color: blue;
    margin: 0;
}

h2 {
    caret-color: transparent;
}



#mainDiv {
    display: none;
}

#subMainDiv {
    position: absolute;
    height: 695px;
    width: 80%;
    right: 0;
}

#roomsDiv {
    width: 20%;
    height: 695px;
    position: absolute;
    float: left;
    text-align: center;
    background-color: #024959;
   
}

#chatDiv {
    position: absolute;
    width: 100%;
    right: 0%;
    text-align: left;
    text-indent: 10px;
    float: right;
    background-color: #F2E3D5;
    overflow-y: scroll;
    scrollbar-color: rgb(113, 113, 113) rgb(72, 72, 71);
    height: 550px;
    scroll-behavior: auto;
    caret-color: transparent;

}

#loginDiv {
    background-color: blue;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#messageDiv {
    background-color: #026773;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100px;
    caret-color: transparent;
}

#headerDiv {
    background-color: #026773;
    height: 50px;
    color: aliceblue;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#headerSpan {
    background-color: #3CA6A6;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    caret-color: transparent;
}

#messageBar {
    width: 80%;
    font-size: 35px;
    border-radius: 10px;
    color: rgba(119, 119, 119, 0.3);
}

.messageButton {
    font-size: 35px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}

#roomsHeadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #012E40;
    height: 50px;
}

#roomsFootDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #012E40;
    height: 100px;
    position: absolute;
    width: 100%;
}

.roomsSpan {
    text-align: left;
    text-indent: 10px;
    caret-color: transparent;
}

.roomsLi {
    background-color: #3CA6A6;
    color: rgb(236, 236, 236);
    border-radius: 15px;
    margin: 5%;
    font-size: 25px;
}

.roomsLi:active {
    background-color: #397D7D;
}

.roomsUl {
    overflow-y: scroll;
    scrollbar-color: rgb(113, 113, 113) rgb(72, 72, 71);
    height: 513px;
}

.system-message {
    color: #aaa;
    font-style: italic;
    text-align: center;
    margin: 5px 0;
}

#authSection {
    background-color: #024959;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    padding-top: 30px;
}

.loginInput {
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

.loginButton {
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
    caret-color: transparent;
}

#newGroupBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
    caret-color: transparent;
}

#chatSpan{
    color: white;
    font-size: 25px;
}

#userInfoPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

#addUserBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}

#settingsBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}