* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    caret-color: transparent;
}

:root {
    --dark: #012E40;
    --darklight: #024959;
    --light: #026773;
    --lightlight: #3CA6A6;
    --chatscreen: #F2E3D5;
    --lightlightClicked: #397D7D;
}

body {
    background-color: blue;
    margin: 0;
}

#mainDiv {
    display: none;
}

#subMainDiv {
    position: absolute;
    height: 695px;
    width: 80%;
    right: 0;
}

#roomsDiv {
    width: 20%;
    height: 695px;
    position: absolute;
    float: left;
    text-align: center;
    background-color: var(--darklight);
   
}

#chatDiv {
    position: absolute;
    width: 100%;
    right: 0%;
    text-align: left;
    text-indent: 10px;
    float: right;
    background-color: var(--chatscreen);
    overflow-y: scroll;
    scrollbar-color: rgb(139, 207, 204) rgb(64, 140, 138);
    height: 550px;
    scroll-behavior: auto;
}

#loginDiv {
    background-color: blue;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#messageDiv {
    background-color: #026773;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100px;
}

#headerDiv {
    background-color: var(--light);
    height: 50px;
    color: aliceblue;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#headerSpan {
    background-color: var(--lightlight);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#messageBar {
    width: 80%;
    font-size: 35px;
    border-radius: 10px;
    color: rgba(119, 119, 119, 0.3);
}

.messageButton {
    font-size: 35px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}

#roomsHeadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    height: 50px;
}

#roomsFootDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    height: 100px;
    position: absolute;
    width: 100%;
}

.roomsSpan {
    text-align: left;
    text-indent: 10px;
}

.roomsLi {
    background-color: var(--lightlight);
    color: rgb(236, 236, 236);
    border-radius: 15px;
    margin: 5%;
    font-size: 25px;

}

.roomsLi:active {
    background-color: var(--lightlightClicked);
}

.roomsUl {
    overflow-y: hidden;
    scrollbar-color: rgb(139, 207, 204) rgb(64, 140, 138);
    scroll-behavior: auto;
    height: 513px;
    padding-left: 5%;
}

.system-message {
    color: #aaa;
    font-style: italic;
    text-align: center;
    margin: 5px 0;
}

#authSection {
    background-color: #024959;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    padding-top: 30px;
}

.loginInput {
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

.loginButton {
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}

#newGroupBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}

#chatSpan {
    color: white;
    font-size: 25px;
}

#userInfoPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

#addUserBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}

#settingsBtn {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}

#profile {
    font-size: 25px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
}